.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.side-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #373737;
  overflow-x: hidden;
  transition: all 0.5s ease-out; }

.nav-item {
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  padding: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  transition: all 0.5s ease-out; }
  .nav-item:hover {
    color: #43b5f5; }

* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.8); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #43b5f5; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem;
    font-family: fontawesome; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #43b5f5;
        transition: all 0.5s ease-out; }
  main .home {
    overflow: hidden;
    transition: all 0.5s ease-out; }
    main .home h1 {
      margin-top: 20vh; }
  main .about {
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease-out; }
  main .work {
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease-out; }
  main .contact {
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease-out; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bio bioimage' 'edu exp1';
  grid-template-columns: repeat(2, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    width: 200px;
    border-radius: 50%;
    border: #43b5f5 3px solid; }
  .about-info .bio {
    margin-top: 60px;
    grid-area: bio;
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }
  .about-info .edu-exp-item1 img,
  .about-info .edu-exp-item2 img {
    max-height: 150px;
    max-width: 200px;
    height: auto; }
  .about-info .edu-exp-item1 div,
  .about-info .edu-exp-item2 div {
    margin: 20px; }
  .about-info .edu-exp-item1 {
    grid-area: edu;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .about-info .edu-exp-item2 {
    grid-area: exp1;
    display: flex;
    flex-direction: row;
    align-items: center; }

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 30px; }
  .projects img {
    width: 100%; }
  .projects .project-item {
    padding: 0;
    margin: 0;
    cursor: pointer; }
    .projects .project-item:hover {
      opacity: 0.4;
      transition: 0.5s; }

.project-modal {
  display: none;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9); }
  .project-modal .project-modal-content {
    margin: auto;
    padding: 3px;
    display: block;
    width: 100%;
    animation-name: zoom;
    animation-duration: 0.5s; }

.modal-close {
  position: fixed;
  top: 0;
  right: 30px;
  color: #43b5f5;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  animation-name: zoom;
  animation-duration: 0.6s; }
  .modal-close:hover, .modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer; }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #43b5f5;
      color: #000; }
      .boxes div:hover span {
        color: #000; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #43b5f5;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c4c4c4;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px; }

@media screen and (min-width: 541px) and (max-width: 900px) {
  main {
    align-items: center;
    text-align: center;
    padding: 2rem; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 4rem; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'edu' 'exp1';
    grid-template-columns: 1fr; }
    .about-info .bio {
      margin-top: 0; }
    .about-info .edu-exp-item1,
    .about-info .edu-exp-item2 {
      text-align: right; }
  .projects {
    grid-template-columns: 1fr; }
  .project-modal {
    grid-template-columns: 1fr; }
  .boxes div {
    font-size: 1.5rem;
    padding: 1.25rem 2.25rem;
    margin-bottom: 2.5rem; }
    .boxes div:hover {
      padding: 0.4rem 1.25rem; } }

@media screen and (max-width: 540px) {
  main {
    text-align: center;
    padding: 1rem; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 3rem; }
    main .sm-heading {
      font-size: 1.5rem; }
  .about-info {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 'bioimage' 'bio' 'edu' 'exp1'; }
    .about-info .bio-image {
      max-width: 150px; }
    .about-info .bio {
      margin-top: 0; }
    .about-info .edu-exp-item1,
    .about-info .edu-exp-item2 {
      display: block;
      text-align: middle; }
  .projects {
    grid-template-columns: 1fr; }
  .project-modal {
    grid-template-columns: 1fr; }
  .boxes div {
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem; }
    .boxes div:hover {
      padding: 0.25rem 1rem; } }
