.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.side-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #373737;
  overflow-x: hidden;
  transition: all 0.5s ease-out; }

.nav-item {
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  padding: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  transition: all 0.5s ease-out; }
  .nav-item:hover {
    color: #43b5f5; }

* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background1.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.8); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #43b5f5; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem;
    font-family: fontawesome; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #43b5f5;
        transition: all 0.5s ease-out; }
  main .home {
    overflow: hidden;
    transition: all 0.5s ease-out; }
    main .home h1 {
      margin-top: 20vh; }
  main .about {
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease-out; }
  main .work {
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease-out; }
  main .contact {
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease-out; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bio bioimage' 'job1 job2';
  grid-template-columns: repeat(2, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    width: 200px;
    border-radius: 50%;
    border: #43b5f5 3px solid; }
  .about-info .bio {
    margin-top: 60px;
    grid-area: bio;
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .jobheader {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .about-info .jobheader img {
      margin-left: 3%;
      margin-right: 3%;
      height: 70px; }
    .about-info .jobheader h3 {
      font-size: 150%;
      margin-left: 3%;
      margin-right: 3%;
      text-align: left; }
  .about-info .job {
    background: #515151;
    padding: 0.5rem;
    border-bottom: #43b5f5 5px solid; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  margin-top: 30px; }
  .projects img {
    max-width: 100%; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #43b5f5;
      transition: all 0.5s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #43b5f5;
      color: #000; }
      .boxes div:hover span {
        color: #000; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #43b5f5;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c4c4c4;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px; }

@media screen and (min-width: 1201px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'a b c d' 'a e f g'; }
    .projects .item.item1 {
      grid-area: a; }
    .projects .item.item2 {
      grid-area: b; }
    .projects .item.item3 {
      grid-area: c; }
    .projects .item.item4 {
      grid-area: d; }
    .projects .item.item5 {
      grid-area: e;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
    .projects .item.item6 {
      grid-area: f;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
    .projects .item.item7 {
      grid-area: g;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; } }

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'a b c' 'a d e' 'f g .'; }
    .projects .item.item1 {
      grid-area: a; }
    .projects .item.item2 {
      grid-area: b; }
    .projects .item.item3 {
      grid-area: c; }
    .projects .item.item4 {
      grid-area: d;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
    .projects .item.item5 {
      grid-area: e;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
    .projects .item.item6 {
      grid-area: f; }
    .projects .item.item7 {
      grid-area: g; } }

@media screen and (min-width: 652px) and (max-width: 900px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 4rem; }
  .about-info {
    grid-template-areas: 'bio' 'bioimage' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
    .about-info h4 {
      text-align: left;
      margin-left: 20px; }
    .about-info ul {
      text-align: left; }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'a b' 'a c' 'd e' 'f g'; }
    .projects .item.item1 {
      grid-area: a; }
    .projects .item.item2 {
      grid-area: b; }
    .projects .item.item3 {
      grid-area: c;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
    .projects .item.item4 {
      grid-area: d; }
    .projects .item.item5 {
      grid-area: e; }
    .projects .item.item6 {
      grid-area: f; }
    .projects .item.item7 {
      grid-area: g; }
  .boxes div {
    font-size: 1.5rem;
    padding: 1.25rem 2.25rem;
    margin-bottom: 2.5rem; }
    .boxes div:hover {
      padding: 0.4rem 1.25rem; } }

@media screen and (max-width: 651px) {
  main {
    text-align: center;
    margin: 0; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 3rem; }
  .about-info {
    grid-template-areas: 'bio' 'bioimage' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
    .about-info .bio-image {
      height: 200px; }
    .about-info ul {
      text-align: left; }
  .projects {
    grid-template-rows: auto; }
  .boxes div {
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem; }
    .boxes div:hover {
      padding: 0.25rem 1rem; } }
