// Widescreens
@include mediaXl {
  // default
}

// Desktops & Laptops
@include mediaLg {
  // default
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    padding: 2rem;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 4rem;
    }
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'edu'
      'exp1';

    grid-template-columns: 1fr;

    .bio {
      margin-top: 0;
    }
    .edu-exp-item1,
    .edu-exp-item2 {
      text-align: right;
    }
  }

  .projects {
    grid-template-columns: 1fr;
  }
  .project-modal {
    grid-template-columns: 1fr;
  }

  .boxes div {
    font-size: 1.5rem;
    padding: 1.25rem 2.25rem;
    margin-bottom: 2.5rem;

    &:hover {
      padding: 0.4rem 1.25rem;
    }
  }
}

// Smartphones
@include mediaSm {
  main {
    text-align: center;
    padding: 1rem;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 3rem;
    }
    .sm-heading {
      font-size: 1.5rem;
    }
  }

  .about-info {
    width: 100%;
    grid-template-columns: 1fr;

    grid-template-areas:
      'bioimage'
      'bio'
      'edu'
      'exp1';

    .bio-image {
      max-width: 150px;
    }
    .bio {
      margin-top: 0;
    }
    .edu-exp-item1,
    .edu-exp-item2 {
      display: block;
      text-align: middle;
    }
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .project-modal {
    grid-template-columns: 1fr;
  }

  .boxes div {
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;

    &:hover {
      padding: 0.25rem 1rem;
    }
  }
}
